$background:(
    'BB01':#3986ff,
    'BB02':#edf4ff,
    'BB03':#f7f7f7,
    'BT01':#e5f0ff,
    'BT02':#fde7e7,
    'BT03':#fefcec,
    'BT04':#f7f7f7,
    'BT05':rgba(229,229,229,0.9),
    'BF01':#3986ff,
    'BF01':#3986ff,
    'BF01':#3986ff,
    'BF01':#3986ff,
    'BF01':#3986ff,
    'BF01':#3986ff,
)!default;

$border:(
 'R01':rgba(0,0,0,0.7),
 'R02':rgba(0,0,0,0.07),
 'R03':rgba(0,0,0,0.17),
 'R04':rgba(0,0,0,0.15),
)!default;

$text:(
  'T01':rgba(0,0,0,0.7),
  'T02':rgba(0,0,0,0.07),
  'T03':rgba(0,0,0,0.17),
  'T04':rgba(0,0,0,0.15),  
)